$primary-font: 'Raleway';

h1 {
    font-size: 42px;
    font-family: $primary-font;
    font-weight: 200 !important
}

h2 {
    color: $secondary-color;
    font-size: 35px;
    font-family: $primary-font;
    font-weight: 200 !important
}

h3 {
    color: $secondary-color;
    font-size: 28px;
    font-family: $primary-font;
    font-weight: 200 !important
}

h4 {
    color: $secondary-color;
    font-size: 24px;
    font-family: $primary-font;
    font-weight: 200 !important
}

h5 {
    color: $secondary-color;
    font-size: 21px;
    font-family: $primary-font;
    font-weight: 200 !important
}

h6 {
    color: $secondary-color;
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 200 !important
}