.u-color-black {
    color: black
}

.u-color-white {
    color: white;
}

.u-fade {
    animation: 2.5s fadeIn ease-in-out
}

.fatter {
    font-weight: 400 !important;
}

.rotateLeft {
    transform: rotate(0deg);
}

.rotateRight {
    transform: rotate(180deg);
}

.rotateArrowUp {
    transform: rotate(90deg);
}

.rotateArrowDown {
    transform: rotate(-90deg);
}

.moveMenu {
    margin-left: 1px;
}