.c-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $warning-color;
    height: 30px;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__notification {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 32px;
        }
    }

    &__testmode {
        color: $secondary-color;
        text-align: center;
        font-size: 14px;
    }
}