.c-mints {
    margin-top: 30px;

    @import '../components/generics/Card.scss';

    &__item {
        &--immature {
            border-left: 3px solid $warning-color;
        }

        &--mature {
            border-left: 3px solid $primary-color;
        }
    }

    &__hashrate {
        margin-top: 30px;
    }
}