.c-mints {
    margin-top: 30px;

    @import '../components/generics/Card.scss';

    &__item {
        &--immature {
            border-left: 3px solid $warning-color;
        }

        &--mature {
            border-left: 3px solid $primary-color;
        }

        &-row:nth-child(2)
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-row:nth-child(3)
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        &__pulsate {
            &-immature {
                position: relative;

                opacity: 0.5;
                transform: translateY(-25px);

                &-ringing {
                    border: 3px solid $warning-color;
                    -webkit-border-radius: 30px;
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    opacity: 0.0
                }

                &-circle {
                    width: 9px;
                    height: 9px;
                    background-color: rgb(0,0,0,0.10);
                    border-radius: 50%;
                    position: absolute;
                    top: 23px;
                    left: 23px;
                }
            }

            &-mature {
                position: relative;

                opacity: 0.5;
                transform: translateY(-25px);

                &-ringing {
                    border: 3px solid #62bd19;
                    -webkit-border-radius: 30px;
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    -webkit-animation: pulsate 2s ease-out;
                    -webkit-animation-iteration-count: infinite; 
                    opacity: 0.0
                }

                &-circle {
                    width: 9px;
                    height: 9px;
                    background-color: #62bd19;
                    border-radius: 50%;
                    position: absolute;
                    top: 23px;
                    left: 23px;
                }
            }
        }
    }

    &__hashrate {
        margin-top: 30px;
    }
}

.c-minted-list {
    margin-top: 30px;

    @import '../components/generics/Card.scss';

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-size: 24px;
        font-weight: 300;
    }
}