.c-transactions {
    &__container {
        display: flex;
        flex-direction: column;
    }

    @import '../components/generics/Card.scss';

    &__item {

        &--disabled {
            opacity: 0.30;
        }

        &__amount {

            &--send {
                color: $warning-color;
            }

            &--received {
                color: $primary-color;
            }
        }
    }
}