// General
@import '../scss/general/general.reset';
@import '../scss/general/general.colors';

// Utility
@import '../scss/utility/animations';
@import '../scss/utility/utility';

// Fonts
@import '../scss/fonts/headings';
@import '../scss/fonts/fonts';

// Pages
@import '../scss/pages/home.scss';
@import '../scss/pages/dashboard.scss';
@import '../scss/pages/balances.scss';
@import '../scss/pages/settings.scss';
@import '../scss/pages/backups.scss';
@import '../scss/pages/community.scss';

// Components
@import '../scss/components/Transactions.scss';
@import '../scss/components/Header.scss';
@import '../scss/components/Sidebar.scss';
@import '../scss/components/Mints.scss';

html, 
body {
    padding: 0;
    margin: 0;
}

html, #app{
    height: 100%;
}

body{
    min-height: 100%;
    cursor: default;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.c-home {
    overflow: hidden;
    background-color: $primary-color;
    height: 100%;
    cursor: default;
}